@import '../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../node_modules/bootstrap-vue/dist/bootstrap-vue.css';
body {
    font-family: 'calibri', '微軟正黑體';
    background-color: lightgray;
    text-align: center;
}

input[type=text] {
    text-align: center;
}

table {
    margin: 10px auto;
}

td {
    border: 1px soild gray;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 5s
}
.fade-enter, .fade-leave-active {
  opacity: 0
}
