{
    // "presets": ["es2015", "stage-2"],
    "presets": [
        ["latest", {
            "es2015": {
                "modules": false
            }
        }]
    ],
    "plugins": [
        [
            "transform-runtime", {
                "polyfill": true,
                "regenerator": true
            }
        ],
        "transform-object-rest-spread",
        "transform-async-to-generator",
        "transform-async-generator-functions"
    ]
}
