body {
  margin: 0;
  padding: 0;
  font-family: '微軟正黑體', 'calibri';
  background-color: #aaa;
}

.wrapper {
  width: 500px;
  margin: 10px auto;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #f1f1f1;
  padding: 20px;
}

.comment-field {
  margin-bottom: 10px;
  float: left;
  width: 100%;
}

.comment-field-name {
  float: left;
  width: 150px;
}

.comment-field-input {
  float: left;
  width: 350px;
}

.comment-field-input input {
  width: 100%;
  border: 1px solid gray;
  padding: 2px;
}

.comment-field-input textarea {
  width: 100%;
  border: 1px solid gray;
  padding: 2px;
  height: 150px;
}

.comment-field-button {
  width: 100%;
  text-align: right;
}

.comment-list {
  margin-top: 20px;
  background-color: #eee;
  padding: 10px;
}

.comment {
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
}

.comment-user {
  font-weight: 600;
  color: lightcoral;
  float: left;
  margin-right: 10px;
}

.comment-content {
  float: left;
}

.comment-time {
  float: right;
}

.comment-delete {
  cursor: pointer;
  float: right;
  background-color: black;
  color: white;
  padding: 2px 5px;
  margin: 0 5px;
}